#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0cc8f43d-47f4-498c-b3be-2df6c8716626 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}