#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4b4e2ddc-1edb-4280-8f9b-06b2790a360d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}