#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}