#s-c0d50ab5-383f-40d3-831a-9498067b86d4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_1 {
  position: absolute;
  width: 332px;
  height: 330px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_1 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_1 > svg {
  height: 330px;
  width: 332px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 input::-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 input:-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 {
  position: absolute;
  width: 225px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 input {
  color: #727272;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  text-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_2 > .paddingLayer {
  height: 26px;
  width: 208px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label {
  position: absolute;
  width: 144px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label > .paddingLayer {
  height: 28px;
  width: 144px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Contact_details_label span#rtr-s-Contact_details_label_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 input::-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 input:-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 input:-ms-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 {
  position: absolute;
  width: 332px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  text-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_3 > .paddingLayer {
  height: 36px;
  width: 313px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
  padding-right: 2px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 input::-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 input:-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 {
  position: absolute;
  width: 332px;
  height: 234px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 .valign {
  vertical-align: top;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_4 > .paddingLayer {
  height: 232px;
  width: 315px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Top_Bar-1 {
  position: absolute;
  width: 375px;
  height: 89px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 {
  position: absolute;
  width: 0px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 > .paddingLayer {
  height: 88px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_39 > svg {
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_39 {
  position: absolute;
  width: 26px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_39 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_39 > svg {
  height: 24px;
  width: 26px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_27 > svg {
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_27 {
  position: absolute;
  width: 13px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_27 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_27 > svg {
  height: 21px;
  width: 13px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 {
  position: absolute;
  width: 36px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: right;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 span {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 input::-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 input:-moz-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 input:-ms-input-placeholder {
  color: #000000;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 {
  position: absolute;
  width: 210px;
  height: 27px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 input {
  color: #727272;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: rgba(254,204,205,0.0);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_7 > .paddingLayer {
  height: 25px;
  width: 193px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_5 > input {
  left: 0px;
  top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Input_5 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 > .clipping, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_17 > svg {
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_17 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_18 > svg {
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_18 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_4 > svg {
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_4 > img, #s-c0d50ab5-383f-40d3-831a-9498067b86d4 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c0d50ab5-383f-40d3-831a-9498067b86d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}